<hr>
<div class="sixteen columns" style="text-align:center">
	<h2 class="light">So why Arcade?</h2>
</div>
<div class=" one-third column" style="text-align:center">
	<img  style="width:50%;" src="http://cdn.shopify.com/s/files/1/0288/5168/files/plane.png?82" alt=""> 
	<h3>smooth sailing</h3>
	<p>Consistent quality prints every time or your money back.</p>
</div>
<div class=" one-third column" style="text-align:center">
	<img style="width:50%;" src="http://cdn.shopify.com/s/files/1/0288/5168/files/color.png?82" alt="">
	<h3>Colorful Thinking</h3>
	<p>Choose from a variety of colors and filament options. Don’t see what you are looking for? contact us! </p>
</div>
<div class=" one-third column" style="text-align:center">
	<img style="width:50%;" src="http://cdn.shopify.com/s/files/1/0288/5168/files/dude.png?82" alt="">
	<h3>Real People</h3>
	<p>Always speak to a person when you call. Leave the automation to the printers.</p>
</div>
